html, body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    overflow: hidden;
}

#canvas {
    margin: 0px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
}

#coords, #zoom, #infobtn, #fetchinfo, #drawinfo {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    color: white;
    font-family: monospace;
}

#zoom {
    top: 0px;
    right: 0px;
    display: none;
    font-size: x-large;
}

#wsclosed {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.5);
    position: fixed;
    padding: 4px;
    right: 0px;
    bottom: 0px;
    color: white;
    font-family: monospace;
    font-size: large;
}

#infobtn {
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    font-size: large;
}

#info {
    display: none;
    position: fixed;
    top: 5vh;
    right: 5vh;
    bottom: 5vh;
    left: 5vh;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: sans-serif;
    color: white;
    overflow: scroll;
    border: 2px solid lightgray;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.9);
}

#infoclose {
    display: none;
    position: absolute;
    top: 0.5em;
    right: 1em;
    cursor: pointer;
}

#fetchinfo {
    bottom: 0px;
    right: 0px;
    font-size: large;
}
#drawinfo {
    bottom: 16px;
    right: 0px;
    font-size: large;
}